PGPEnAndDe/PGPEncAndDec/PGPEncAndDec.suo
PGPPipeline/DecryptPGP/bin
PGPPipeline/DecryptPGP/obj
PGPPipeline/EncryptPGP/bin
PGPPipeline/EncryptPGP/obj
PGPPipelineComponents.Deploy/bin
PGPPipelineComponents.Deploy/obj
PGPEnAndDe/PGPEncAndDec/PGPEncAndDec/bin
PGPEnAndDe/PGPEncAndDec/PGPEncAndDec/obj